<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="sezione gioco">
      <div class="scheda-gioco">
        <div class="titolo"><h1>Fortnite</h1></div>
        <div class="sotto-titolo">
          <h3>Epic games Inc. Azione e Avventura Altro</h3>
        </div>
        <div class="controller-touch">
          <div class="conroller">
            <img src="/assets/images/joypad logo bianco.png" alt="" />
            <h3>Riproduci con il controller</h3>
          </div>
          <div>
            <img src="/assets/images/joypad logo bianco.png" alt="" />
            <h3>Riproduci con il tocco</h3>
          </div>
        </div>
        <div class="lingue">
          <img src="/assets/images/joypad logo bianco.png" alt="" />
          <h3>15 lingue supportate</h3>
        </div>
      </div>
      <div class="accedi-compra">
        <div class="container_btn_accedi">
          <button type="button" class="btn_accedi">
            <a href="#">ACCEDI</a>
          </button>
        </div>
        <div class="share-compra">
          <div class="share">
            <button type="button" class="btn_share">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 2048 2048"
                width="1em"
                height="1em"
                class="Button-module__buttonIcon___six7+ Button-module__noMargin___0-3t6 Icon-module__icon___5Kqln Icon-module__xxSmall___cJcD7"
                aria-hidden="true">
                <path
                  d="M1408 1536l128-128v384H0V512h128v1152h1280v-128zm-128-512q-128 0-250 25t-237 75-217 121-192 163v-128q0-124 32-238t90-214 140-181 181-140 214-91 239-32V0l704 704-704 704v-384zm128-512h-114q-53 0-103 6t-102 17-108 37q-87 36-161 92T687 791t-99 155-60 176q168-112 359-169t393-57h128v203l395-395-395-395v203z"></path>
              </svg>
            </button>
          </div>
          <div class="buy">
            <button type="button" class="btn_share">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 2048 2048"
                width="1em"
                height="1em"
                class="Button-module__buttonIcon___six7+ Button-module__noMargin___0-3t6 Icon-module__icon___5Kqln Icon-module__xxSmall___cJcD7"
                aria-hidden="true">
                <path
                  d="M1600 1536q40 0 75 15t61 41 41 61 15 75q0 40-15 75t-41 61-61 41-75 15q-40 0-75-15t-61-41-41-61-15-75q0-31 11-64H885q11 33 11 64 0 40-15 75t-41 61-61 41-75 15q-40 0-75-15t-61-41-41-61-15-75q0-55 29-102t80-71L188 256H0V128h281l85 256h1682l-299 896H665l85 256h850zM409 512l213 640h1035l213-640H409zm359 1216q0-26-19-45t-45-19q-26 0-45 19t-19 45q0 26 19 45t45 19q26 0 45-19t19-45zm832 64q26 0 45-19t19-45q0-26-19-45t-45-19q-26 0-45 19t-19 45q0 26 19 45t45 19z"></path>
              </svg>
              chicco roma
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
