<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>description</title>
    <link rel="stylesheet" href="description.css" />
  </head>
  <body>
    <div class="container_description">
      <div class="description">
        <div class="container_img_description">
          <img
            src="/Progetto-Xbox/assets/images/description game.jpeg"
            alt="Fortnite image"
          />
        </div>
        <div class="text_description_fortnite">
          <p>Il futuro di Fortnite è qui.</p>
          <p>
            Sopravvivi fino alla fine nelle modalità Battaglia reale e Zero
            costruzioni, esplora e sopravvivi in LEGO Fortnite, raggiungi il
            traguardo con Rocket Racing o assisti a un concerto con il Festival
            di Fortnite. Gioca con gli amici a migliaia di isole gratuite
            realizzate dai creatori, tra cui deathrun, giochi gestionali, corse,
            sopravvivenza zombi e altro ancora! Unisciti alla community dei
            creatori e costruisci la tua isola con Unreal Editor per Fortnite
            (UEFN) o gli strumenti della modalità Creativa di Fortnite.
          </p>
          <div class="ulteriori_dettagli">
            ULTERIORI DETTAGLI
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 32 32"
              class="ShowMore-module__showMoreIcon___cKLDq Icon-module__icon___5Kqln Icon-module__xxSmall___cJcD7"
              aria-hidden="true"
            >
              <path
                d="M9.775.97l-.092.128a1.627 1.627 0 00.2 2.051l12.994 12.995L9.851 29.171l-.107.12a1.631 1.631 0 00.107 2.178 1.625 1.625 0 002.298 0l14.176-14.175.107-.12a1.631 1.631 0 00-.107-2.179L12.18.851l-.14-.126a1.625 1.625 0 00-2.158.126L9.775.97z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
        <div class="developed_by">
          <h2>Pubblicato da</h2>
          <p>Epic Games Inc.</p>
          <h2>Sviluppato da</h2>
          <p>Epic Games Inc.</p>
          <h2>Data di rilascio</h2>
          <p>25/7/2017</p>
        </div>
      </div>
    </div>
  </body>
</html>
