<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/main/style.css" />
  </head>
  <body>
    <div class="description">
      <h1>Descrizione</h1>
      <div class="main_description_container">
        <div class="container_description">
          <div class="game_description_img">
            <img
              src="/assets/images/gamepage2img.jpg"
              alt="Immagine del gioco"
            />
          </div>
          <div class="text_description">
            <div class="game_description">
              <p>
                Just Cause 4 Reloaded ti offre un'esperienza di gioco estesa ed
                esplosiva in un pacchetto completamente nuovo! Just Cause 4
                Reloaded include contenuti premium aggiuntivi, insieme a tutti i
                miglioramenti e le aggiunte al gioco pubblicati in precedenza.
                <br />
                Immergiti in un'esperienza sandbox open world ricca di azione e
                scatena la distruzione con armi, veicoli e attrezzature in
                abbondanza. Indossa la tuta alare, aggancia il rampino
                personalizzabile e preparati a scatenare il caos!
              </p>
            </div>
            <div class="button_description">
              <button>ULTERIORI DETTAGLI</button>
              <img src="/assets/img/arrow.svg" alt="Freccia collegamento" />
            </div>
          </div>
        </div>
        <div class="game_developer">
          <div class="printed">
            <h1>Pubblicato da</h1>
            <p>Square Enix</p>
          </div>
          <div class="developed">
            <h1>Sviluppato da</h1>
            <p>Avalance Studio</p>
          </div>
          <div class="date_release">
            <h1>Rilasciato il</h1>
            <p>7/11/2019</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
