.description {
  color: white;
  width: 90%;
}

.description h3 {
  color: white;
  margin-bottom: 2vh;
}
.main_description_container {
  display: flex;
  position: relative;
  background-color: #2d3036;
  border-radius: 4px;
}
.container_description {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.text_description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  grid-column: span 6 / span 6;
}
.text_description button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
}
.text_description img {
  filter: invert(1);
}
.button_description {
  margin: 10px;
  background-color: transparent;
  display: flex;
}
.game_description {
  font-size: larger;
  overflow-y: hidden;
  margin: 10px 10px 0px 10px;
  font-size: medium;
  line-height: 1.3;
}

.text_description button {
  margin-top: auto;
}
.game_description_img {
  grid-column: span 2 / span 2;
}
.game_description_img img {
  width: 100%;
}
.game_developer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  grid-column: span 4 / span 4;
}
.game_developer h1 {
  font-weight: bold;
  font-size: medium;
  width: max-content;
}
.printed,
.developed,
.date_release {
  height: max-content;
}
.main_description_container:hover {
  cursor: pointer;
}
.main_description_container:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.text_description_mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1300px) {
  .game_developer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .text_description {
    order: 2;
    grid-column: span 12 / span 12;
    margin-top: 20px;
  }
  .game_developer {
    padding-left: 20px;
    margin-top: 0px;
  }
  .container_description {
    padding: 15px;
  }
}
