<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="genres">
      <div class="genres_header">
        <h3>Generi</h3>
      </div>
      <div class="genres_main">
        <div class="type_genres" id="indieGenres">
          <h5>Indie</h5>
          <img src="/assets/img/lamp.svg" alt="indieGenres" />
        </div>
        <div class="type_genres" id="familyGenres">
          <h5>Intuitivo per la famiglia</h5>
          <img
            src="/assets/img/family.svg"
            alt="familyGenres"
            class="familyGenres" />
        </div>
        <div class="type_genres" id="pistolGenres">
          <h5>sparatutto</h5>
          <img
            src="/assets/img/laserpistol.svg"
            alt="pistolGenres"
            class="pistolGenres" />
        </div>
        <div class="type_genres" id="adventureGenres">
          <h5>azione e avventura</h5>
          <img src="/assets/img/boat.svg" alt="adventureGenres" />
        </div>
        <div class="type_genres" id="drawlerGenres">
          <h5>picchiaduro e brawler</h5>
          <img src="/assets/img/boxe.svg" alt="drawlerGenres" />
        </div>
        <div class="type_genres" id="strategyGenres">
          <h5>strategia</h5>
          <img src="/assets/img/chess.svg" alt="strategyGenres" />
        </div>
        <div class="type_genres" id="simulatorGenres">
          <h5>simulatori</h5>
          <img src="/assets/img/sheep.svg" alt="simulatorGenres" />
        </div>
        <div class="type_genres" id="rpgGenres">
          <h5>gioco di ruolo (rpg)</h5>
          <img src="/assets/img/sword.svg" alt="rpgGenres" />
        </div>
      </div>
    </div>
  </body>
</html>
