table {
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-color: #2d3036;
}

th {
  text-align: center;
  padding: 6px;
  border-bottom: solid 1px grey;
  color: #8d8e8f;
  font-size: 14px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

td {
  text-align: center;
  padding: 6px;
  border-bottom: solid 1px gray;
  color: #ffffff;
}

th:first-child,
td:first-child {
  text-align: left;
  font-weight: bold;
  border-bottom: solid 1px grey;
}

.table-container {
  cursor: pointer;
}

.table-container:hover {
  background-color: #6b7584;
}

.table-container {
  width: 90%;
  height: 100%;
  border-radius: 7px;
  padding: 6px;
  background-color: #2d3036;
  color: #ffffff;
}

