<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="container_footer">
        <div class="foot_main_section">
          <div class="esplora">
            <span>Esplora</span>
            <ul>
              <li><a href="#">Xbox Console</a></li>
              <li><a href="#">Giochi per Xbox</a></li>
              <li><a href="#">Xbox Game Pass</a></li>
              <li><a href="#">Accessori per Xbox</a></li>
            </ul>
          </div>
          <div class="risorse">
            <span>Risorse</span>
            <ul>
              <li><a href="#">Supporto Xbox</a></li>
              <li><a href="#">Commenti e Suggerimenti</a></li>
              <li><a href="#">Standard della comunicazione</a></li>
              <li><a href="#">Avviso fotosensibilità</a></li>
            </ul>
          </div>
          <div class="microsoft_store">
            <span>Microsoft Store</span>
            <ul>
              <li><a href="#">Account Microsoft</a></li>
              <li><a href="#">Supporto Microsoft Store</a></li>
              <li><a href="#">Resi</a></li>
              <li><a href="#">Tracciamento ordini</a></li>
            </ul>
          </div>
          <div class="sviluppatori">
            <span>Per sviluppatori</span>
            <ul>
              <li><a href="#">Giochi</a></li>
            </ul>
          </div>
        </div>
        <div class="foot_info_section">
          <div class="first_info_section">
            <div class="language">
              <ul>
                <li>
                  <a href="#">
                    <img
                      src="/Components/assets/img/globe.png"
                      alt="globo terrestre"
                    />
                    Italiano (Italia)
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="/Components/assets/img/privacy.svg"
                      alt="logo privacy"
                    />
                    Le tue scelte sulla privacy
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="second_info_section">
            <ul>
              <li><a href="#">Riferimenti societari</a></li>
              <li><a href="#">Contatta Microsoft</a></li>
              <li><a href="#">Privacy e cookie</a></li>
              <li><a href="#">Gestisci i cookie</a></li>
              <li><a href="#">Condizioni per l'utilizzo</a></li>
              <li><a href="#">Marchi</a></li>
              <li><a href="#">Comunicazioni di terze parti</a></li>
              <li><a href="#">Informazioni sulle insersioni</a></li>
              <li><a href="#">EU Compliance DoCs</a></li>
              <li><a href="#">Accessibilità</a></li>
            </ul>
            <br />
            <span style="font-size: x-small">© Microsoft 2024</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
