footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.container_footer {
  color: #a7a7a7;
  background-color: #000;
  width: 90%;
  margin: 15px 0px 0px 0px;
}

.foot_main_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}
.foot_main_section div {
  margin-right: 100px;
}
.container_footer ul {
  list-style: none;
  padding: 0px;
}
.container_footer li {
  margin: 20px 0px;
}
.container_footer li a {
  text-decoration: none;
  color: #a7a7a7;
  font-size: x-small;
  display: flex;
  align-items: center;
}
.container_footer span {
  font-size: medium;
}
.container_footer span:hover {
  color: white;
  cursor: default;
}
.container_footer li a:hover {
  text-decoration: underline;
  color: white;
}
.first_info_section {
  margin: 0px;
}
.first_info_section .language ul {
  display: flex;
  margin-right: 20px;
  width: 100%;
}
.first_info_section .language li {
  margin-right: 15px;
}
.first_info_section .language img {
  height: 18px;
  width: 18px;
  filter: invert(100%);
  margin-right: 8px;
}
.foot_info_section .second_info_section ul {
  display: flex;
  flex-direction: row;
  font-size: xx-small;
}
.foot_info_section li {
  margin-right: 12px;
  white-space: normal;
}
