<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/main/style.css" />
  </head>
  <body>
    <div class="funzionalita">
      <h1>Funzionalita</h1>
      <div class="container_funzionalita">
        <div class="funzione">
          <p>Co-op Online (2-4)</p>
        </div>
        <div class="funzione">
          <p>Multiplayer online (2-100)</p>
        </div>
        <div class="funzione">
          <p>120fps</p>
        </div>
        <div class="funzione">
          <p>Ottimizzato per Xbox Series X|S</p>
        </div>
        <div class="funzione">
          <p>Xbox One X avanzato</p>
        </div>
        <div class="funzione">
          <p>Xbox Live</p>
        </div>
        <div class="button_funzionalita">
          <button>Mostra altro</button>
          <img src="/assets/img/arrow.svg" alt="Freccia collegamento" />
        </div>
      </div>
    </div>
  </body>
</html>
