.funzionalita {
  color: white;
}
.funzionalita {
  width: 90%;
}
.funzionalita h1 {
  color: white;
  font-size: x-large;
  padding: 12px 0px 12px 0px;
}
.container_funzionalita {
  width: 50vw;
  height: 27vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  background-color: #2d3036;
  overflow: hidden;
}
.button_funzionalita {
  position: absolute;
  bottom: 0px;
  padding: 12px;
  display: flex;
  visibility: hidden;
}
.button_funzionalita button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
}
.button_funzionalita img {
  filter: invert(1);
}
.container_funzionalita p {
  font-size: medium;
  white-space: nowrap;
  margin: 5px;
  text-align: center;
}
.funzione {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
}
.container_funzionalita:hover {
  cursor: pointer;
}
.container_funzionalita:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
@media (max-width: 600px) {
  .button_funzionalita {
    visibility: visible;
    background-color: #2d3036;
    width: 90%;
  }
}
