html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.layout_temporany {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn_logo {
  display: inline block;
  background: none;
  border: none;
  transition: 0.2s;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn_logo svg {
  width: 100%;
  height: 100%;
  fill: white;
}

.btn_logo:hover {
  background-color: #6d6d6d;
}
.btn_cld_gaming {
  border-radius: 5px;
  padding: 15px;
  background: transparent;
  border: 0px;
  box-shadow: none;
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}
.btn_cld_gaming:hover {
  background-color: #6d6d6d;
}
.btn_span_gaming {
  font-size: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  font-weight: 700;
  white-space: nowrap;
}

.btn_accedi a {
  text-decoration: none;
  color: white;
}
.btn_accedi {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #008746;
  border-radius: 5px;
  border: none;
  padding: 15px 115px;
  transition: 0.2s;
}
.btn_accedi:hover {
  background-color: #007738;
}
.inp_cerca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 40px;
  border: solid #65707f 1px;
  border-radius: 20px;
  background-color: rgb(35, 32, 32);
}
.inp_cerca:focus-within {
  border-color: #65707f;
  border-radius: 50px;
  outline: solid 2px white;
  outline-offset: 5px;
}
.inp_cerca_giochi {
  position: relative;
  width: 80%;
  height: 80%;
  border: none;
  background: none;
  outline: none;
  border-radius: 5px;
  order: 2;
  font-size: medium;
  color: #65707f;
  caret-color: #008746;
}
.container_img {
  order: 1;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_img svg {
  color: white;
  fill: white;
}
.button_user {
  display: inline-block;
  background: #484e58;
  border: none;
  transition: 0.2s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.button_user svg {
  width: 80%;
  height: 80%;
}
.button_user svg path {
  fill: white;
}
.button_user:hover {
  background-color: #6d6d6d;
}
