<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!---button navabar-->
    <button type="button" class="btnlogo"><a href="#"><img src="img/btnlogo.png" alt="Button logo xbox" width="30px" height="30px"></a></button>
    <button type="button" class="btncldgaming ">CLOUD GAMING <span class="btnspangaming">BETA</span></button>
    <button type="button" class="btnaccedi"><a href="#">ACCEDI</a></button>
    <input type="text" class="inpcerca" placeholder="Cerca giochi">
    <button type="button" class="buttonuser"><a href="#"><img src="img/buttonuser.png" alt="user" width="40px" height="30px"></a></button>
<!------------------>
</body>
</html>