.containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  grid-auto-rows: 0;
  overflow: hidden;
  height: 480px;
  width: 100%;
  justify-content: center;
}

/* .containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  height: 500px;
  width: 100%;
} */

.header-sezione-giochi {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-weight: 700;
  color: white;
  font-size: 1vw;
}

body {
  background-color: #1a1b1e;
}

.sezione-giochi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

@media screen {
}
