.titolo-principale-fortnite__header-module {
  color: white;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  padding-bottom: 5px;
  font-weight: 500;
  margin-bottom: 5px;
}
.header-module--action-button--container-littlebutton__width100 {
  display: flex;
  justify-content: space-between;
}
.header-module-right {
  margin-top: auto;
  display: flex;
}
.header-module-right-img img {
  max-width: 40px;
}
.header-module-right-paragraph a {
  font-size: x-small;
  font-weight: bold;
  color: #007738;
  text-decoration: none;
  display: inline-flex;
  background-color: #484e58;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
}
.header-module-right-paragraph a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.header-module-right-paragraph img {
  color: #007738;
  margin-left: 8px;
}
.header-module-right-paragraph {
  margin: 10px;
}
.header-module-right-paragraph p {
  color: #6b7584;
  font-size: small;
}

.svg-title__heade-module {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.paragrafo-fortnite__header-module {
  margin: 0;
  font-weight: 550;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.header_module {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-module_controller-touch {
  display: flex;
  gap: 15px;
}

.header-module_controller {
  display: flex;
  gap: 7px;
}

.header-module_touch {
  display: flex;
  gap: 7px;
}

.header-module_lingue {
  display: flex;
  gap: 7px;
}

.header-module_controller-touch-lingue {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.action-button-module__btn_accedi__flex-element {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.play_action-button-module {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.share-buy-button {
  padding: 15px 14px;
  margin: 0;
  background-color: #484e58;
  box-shadow: none;
  border: none;
  border-radius: 3px;
}

.share-buy-button:hover {
  background-color: #6b7584;
}

.action-button-module--container-little-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-module--action-button--container-littlebutton {
  width: 400px;
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.header-moduleP {
  width: 90%;
}
.Playwith {
  display: none;
  color: white;
}
@media screen and (max-width: 1200px) {
  .svg-title__heade-module {
    display: none;
  }
  .IconText-module {
    display: none;
  }
  .Playwith {
    display: block;
  }
  .header-module--action-button--container-littlebutton__width100 {
    flex-direction: column;
  }
  .header-module-right {
    margin-top: 30px;
  }
}
