<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/main/style.css" />
  </head>
  <body>
    <div class="info_aggiuntive">
      <h1>Informazioni Aggiuntive</h1>
      <ul>
        <li>
          <a href="#">
            <p>Scopri di più su Cloud Gaming</p>
            <img src="/assets/img/openpage.svg" alt="Link altra pagina"
          /></a>
        </li>
        <li>
          <a href="#">
            <p>Avvisi di attacco di epilessia</p>
            <img src="/assets/img/openpage.svg" alt="Link altra pagina"
          /></a>
        </li>
        <li>
          <a href="#">
            <p>Codice di Comportamento Xbox Live</p>
            <img src="/assets/img/openpage.svg" alt="Link altra pagina"
          /></a>
        </li>
        <li>
          <a href="#">
            <p>Informativa sulla privacy di Fortnite</p>
            <img src="/assets/img/openpage.svg" alt="Link altra pagina"
          /></a>
        </li>
        <li>
          <a href="#">
            <p>COndizioni per la transazione</p>
            <img src="/assets/img/openpage.svg" alt="Link altra pagina"
          /></a>
        </li>
      </ul>
    </div>
  </body>
</html>
