<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>
  <body>
    <div class="sezione-giochi">
      <div class="header-sezione-giochi">
        <h2 class="title_sezione">Tutti i giochi</h2>
        <button class="someblock__button__mostra__tutto">Mostra tutto</button>
      </div>
      <div class="containers">
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/img1.jpeg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG1.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG2.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG3.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG4.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG5.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG6.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG7.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG8.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG9.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG10.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG11.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG12.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG13.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG14.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG15.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG16.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG17.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG18.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG19.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG20.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG21.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG22.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG23.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG24.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG25.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG26.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG27.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG28.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="someblock__cardcontainer__card">
            <div class="someblock__cardcontainer__card__image">
              <img src="/assets/images/IMG29.jpg" alt="gojo" />
            </div>
            <div class="someblock__cardcontainer__card__icons">
              <img
                src="/assets/images/joypad logo bianco.png"
                alt="logo"
                height="16px"
                width="16px" />
            </div>
            <div class="someblock__cardcontainer__card__image__title">
              <a class="someblock__cardcontainer__card__image__title__a">
                testo carta a scomparsa
              </a>
            </div>
          </div>
        </div>
      </div>
      <button class="someblock__button__visualizzatuttigiochi">
        VISUALIZZA TUTTI I GIOCHI
      </button>
    </div>
  </body>
</html>
