<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/main/style.css" />
  </head>
  <body>
    <div class="raccolta">
      <h1>Raccolta</h1>
      <div class="container_raccolta">
        <div class="container_link_raccolta">
          <div class="primary_raccolta">
            <img src="/assets/img/lock.svg" alt="Lucchetto" />
            <p>
              Questo contenuto potrebbe non essere appropriato per tutte le età
            </p>
          </div>
          <div class="info_raccolta">
            <img src="/assets/img/info.svg" alt="Immagine Informazione" />
            <p>Fai clic per sbloccare il contenuto</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
